<div>
    <open-vault-banner />

    <app-message-display 
        [type]="showHttpErrorResponse()? 'error': 'success'"
        [message]="
            showHttpErrorResponse() ? httpErrorMessage(): 
            showSuccessfulPasswordResetNotif()? 'Password reset successful. Redirecting...': 
            ''
        "
    />

    <form [formGroup]="passwordResetForm" class="xl:w-[50%] mx-auto">
        <div>
            <app-form-control
                formControlName="password"
                type="password"
                iconPath="./assets/images/password.svg"
                placeholder="New Password"
                [invalidInput]="passwordRequired! || passwordTooShort!"
            />

            <!--invalid password message-->
            <app-invalid-input-message
                [message]="passwordRequired ? 'required': passwordTooShort ? 'too short. 8 characters minimum': ''">
            </app-invalid-input-message> 
        </div>

        <div>
            <app-form-control
                formControlName="confirmPassword"
                type="password"
                iconPath="./assets/images/password.svg"
                placeholder="Confirm Password"
                [invalidInput]="confirmPasswordRequired! || passwordMismatch!"
            />

            <!--invalid confirm password message-->
            <app-invalid-input-message
                [message]="confirmPasswordRequired ? 'required': passwordMismatch ? 'password mismatch': ''">
            </app-invalid-input-message> 
        </div>
        
        <!--apply password reset-->
        <app-action-btn 
            btnText="Apply" 
            [isEnabled]="isSubmitEnabled()"
            [isLoading]="isMakingRequest()"
            (clickEventEmitter)="onApply()">
        </app-action-btn>
    </form>
</div>