<div class="relative">
    <input 
        [type]="type" 
        [formControl]="formControl"
        inputmode="numeric"
        [placeholder]="placeholder"
        class="w-full p-[0.8rem] pl-14  outline-none border-outline border-[0.1rem] rounded-md placeholder:text-[#7b7b7b] focus:border-accent" 
        [class.pl-3]="!iconPath"
        [ngClass]="{ invalid: invalidInput }"
        (blur)="onInputTouched()"
    />
    @if (iconPath) {
        <img 
            [alt]="placeholder" 
            [src]="iconPath" 
            class="absolute left-5 top-[50%] -translate-y-[50%] w-6 h-6" 
        />
    }
</div>
