<div class="flex justify-between items-center p-4 mb-3 shadow-md border-outline bg-green-100 border-[0.1rem] rounded-md">
    <div>
        <h4 class="font-bold">{{book.title}}</h4>
        <p class="text-gray-600">Author: {{book.author}}</p>
        <p class="text-gray-600 text-nowrap text-ellipsis whitespace-nowrap">Description: {{book.description}}</p>
    </div>

    <div>
        <button class="px-4 py-2 hover:scale-105 active:scale-95" (click)="onDownload()">
            <img src="./assets/images/download.png" alt="download" class="w-12 h-12" >
        </button>
    </div>
</div>